node-red.json
[{"id":"d2bde67b.154768","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21c502b0.08de6e","type":"serial in","z":"d2bde67b.154768","name":"","serial":"839a927d.d90e5","x":70,"y":320,"wires":[["5591eedc.db958"]]},{"id":"f8106e83.80739","type":"debug","z":"d2bde67b.154768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":320,"wires":[]},{"id":"72d1963d.0fbe28","type":"switch","z":"d2bde67b.154768","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"S覺cakl覺k","vt":"str"},{"t":"cont","v":"Nem","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":320,"wires":[["d6eb731e.661b9"],["cfeb00e8.f92c7"]]},{"id":"e1a917a3.a2df38","type":"function","z":"d2bde67b.154768","name":"Function","func":"msg.payload = {\n    \"deviceId\":\"DemoDevice123\",\n    \"key\":\"XXXXXXXXXXXXXXXXXXXXXXX=\",\n    \"protocol\":\"http\",\n    \"data\":\"{\" + msg.sicaklik + \", \" + msg.nem + \"}\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["774bc050.66bcb"]]},{"id":"d6eb731e.661b9","type":"string","z":"d2bde67b.154768","name":"","methods":[{"name":"trimLeft","params":[]},{"name":"trimRight","params":[]}],"prop":"payload","propout":"sicaklik","object":"msg","objectout":"msg","x":470,"y":260,"wires":[["d0a245b.1f929b8"]]},{"id":"cfeb00e8.f92c7","type":"string","z":"d2bde67b.154768","name":"","methods":[{"name":"trimLeft","params":[]},{"name":"trimRight","params":[]}],"prop":"payload","propout":"nem","object":"msg","objectout":"msg","x":470,"y":380,"wires":[["d0a245b.1f929b8"]]},{"id":"774bc050.66bcb","type":"azureiothub","z":"d2bde67b.154768","name":"Azure IoT Hub","protocol":"http","x":860,"y":260,"wires":[["f8106e83.80739"]]},{"id":"5591eedc.db958","type":"string","z":"d2bde67b.154768","name":"","methods":[{"name":"replaceAll","params":[{"type":"str","value":"Sicaklik"},{"type":"str","value":"S覺cakl覺k"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":210,"y":320,"wires":[["72d1963d.0fbe28"]]},{"id":"1366a869.335bc8","type":"azureiothubregistry","z":"d2bde67b.154768","name":"Azure IoT Hub Registry","x":470,"y":60,"wires":[["7ed934dc.74d79c"]]},{"id":"7ed934dc.74d79c","type":"debug","z":"d2bde67b.154768","name":"Log","active":true,"console":"false","complete":"true","x":710,"y":60,"wires":[]},{"id":"c95ae94a.012b88","type":"inject","z":"d2bde67b.154768","name":"Register Payload","topic":"","payload":"{\"deviceId\":\"DemoDevice123\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":60,"wires":[["1366a869.335bc8"]]},{"id":"d0a245b.1f929b8","type":"batch","z":"d2bde67b.154768","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[{"topic":""}],"x":510,"y":320,"wires":[["b9549935.81f658"]]},{"id":"b9549935.81f658","type":"join","z":"d2bde67b.154768","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":630,"y":320,"wires":[["e1a917a3.a2df38"]]},{"id":"839a927d.d90e5","type":"serial-port","z":"","serialport":"COM12","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"}]